
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.App{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Parent{
    width: max-content;
    height: 50vh;
    font-size: 1.2em;    
}
.balance-container{
    background-color: #fff;
    padding: 10px;
    float: left;
    width: 100%;
    margin: 0px 0px 20px 0px;
}
.balance-container div{
    /* float: left; */
    display: inline-block;
    padding: 0px 20px 0px 20px;
    text-align: left;
}
.balance-container div:nth-child(1){
    border-right: 1px solid black;
}

.balance-container div:nth-child(1) h5{
    color: green;
}
.balance-container div:nth-child(2) h5{
    color: red;
}
@media all and  (max-width: 500px ) {
    .balance-container div{
        display: block;
    }
    .balance-container div:nth-child(1){
        border: none;
        border-bottom: 1px solid black;
        margin: 0px 0px 5px 0px;
    }
}

.history-container{
    clear: both;
    width: 100%;
    margin: 0px 0px 20px 0px;
}
.history-container h4{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.history-container .list{
    margin: 10px 0px 0px 0px;
    list-style-type: none;
}
.history-container .list li{
    margin: 0px 0px 5px 0px ;
    background-color: #fff;
    padding: 10px;
}
.history-container .list .plus span{
    float: right;
    color: green;
}
.history-container .list .plus{
    border-right: 3px solid #00ff00;
}
.history-container .list .minus{
    border-right: 3px solid #dd0000;
}
.history-container .delete-btn{
    background-color: #dd0000;
    float: left;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 5px;
    margin-left: -35px;
}
.history-container .list .minus span{
    float: right;
    color: red;
}
.add-transc-container h4{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin: 0px 0px 10px 0px;
}
.add-transc-container input{
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 1em;
    padding: 10px;
    margin: 0px 0px 10px 0px;
}
.add-transc-container input[id=submit]{ 
    background-color: #00aaff;
}
